<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CyberCyld- Social Media Security Plateform</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
 <!--slider-->
 
  <!-- Favicons -->
  <!--
<link href="../public/fevicons/favicon-32x32.png" rel="icon">
<link href="../public/fevicons/apple-icon.png" rel="apple-touch-icon">
<link rel="apple-touch-icon" sizes="57x57" href="../public/fevicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./../public/fevicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../public/fevicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../public/fevicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../public/fevicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../public/fevicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href=".././public/fevicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../public/fevicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../public/fevicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../public/fevicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../public/fevicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../public/fevicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../public/fevicons/favicon-16x16.png">
<link rel="manifest" href="./../public/fevicons/manifest.json">
-->
       

<link rel="icon" type="image/png" href="../public/CyberCyld-logo.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../public.favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./../public/assetss/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/aos/aos.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./../public/assetss/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="./../public/assetss/css/variables.css" rel="stylesheet">
  <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="./../public/assetss/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: HeroBiz - v2.3.1
  * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0" style="background-color:black;">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../public/logo2.png" alt="CyberCyld-Logo" style="margin-right:30px;"> 
        {{!-- <h4 style="color:darkgoldenrod;"> <small>Social Media Security Plateform</small><span>.</span></h4> --}}
      </a>

      <nav id="navbar" class="navbar">
        <ul>

          {{!-- <li class="dropdown" ><a href="/"><span style="color:white;">Home</span></a>
          </li> --}}

          {{!-- <li><a class="nav-link scrollto" href="/" style="color:white;">Home</a></li> --}}
          <li><a class="nav-link scrollto" href="/"style="color:darkgoldenrod;"><b>Home</b></a></li>
       <li class="dropdown"><a href="#pricing"><span style="color:darkgoldenrod;"><b>Cyber Protection Plans</b></span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li style="color:white;"><a href="/#pricing">FREE Personal Cyber Protection Plan - Girls Only</a></li>
              <li style="color:white;"><a href="/#pricing">Personal Cyber Protection Plan</a></li>
              <li><a href="#pricing" style="color:darkgoldenrod;">Family Cyber Protection Plan</a></li>
              <li><a href="#pricing" style="color:darkgoldenrod;">Bussiness Cyber Protection Plan</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/blog"style="color:darkgoldenrod;"><b>Join Our OSINT Community</b></a></li>

       {{!-- <li class="dropdown"><a href="#"><span style="color:white;">Additional Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li style="color:white;"><a href="/contacts">Contacts</a></li>
              <li><a href="/careers" style="color:white;">Careers</a></li>
            </ul>
          </li> --}}
          </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <a class="scrollto btn herobiz-bootstrap-business-template" href="/login"><b>sign-in</b></a>

    </div>
  </header>
  <!-- End Header -->
<section id="hero" class="hero carousel  carousel-fade" data-bs-ride="carousel" data-bs-interval="5000" style="background-color:black;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row justify-content-center gy-6">

            <div class="col-lg-5 col-md-8">
              <img src="./../public/Img-16.png" alt="" class="img-fluid img">
            </div>

            <div class="col-lg-9 text-center">
               <h4 style="color:white"><strong>We make Social Media Security Simple, Affordable and Accessible to all
               Content Creator, Influencers, Artist, Sport Persons, Individuals, Small and Big Business Owners.
             </strong></h4>
              <a href="/register" class=" scrollto btn btn-danger" ><strong>Secure your all Social Media Account in Just One Click!</strong></a>
            </div>

          </div>
        </div>
      </div><!-- End Carousel Item -->
<!--
      <div class="carousel-item">
        <div class="container">
          <div class="row justify-content-center gy-6">

            <div class="col-lg-5 col-md-8">
              <img src="./../public/Img-11.png" alt="" class="img-fluid img">
            </div>

            <div class="col-lg-9 text-center">
              <p style="color:darkgoldenrod"><strong>We make Social Media Security Simple, Affordable and Accessable to all
               Content Creator, Influencers, Artist, Sport Persons, Individuals, Small and Big Business Owners.
             </strong></p>
              <a href="/register" class=" scrollto btn btn-danger" ><strong>Secure your all Social Media Account in Just One Click!</strong></a>
            </div>

          </div>
        </div>
      </div><!-- End Carousel Item >
<!--
      <div class="carousel-item">
        <div class="container">
          <div class="row justify-content-center gy-6">

            <div class="col-lg-5 col-md-8">
              <img src="../public/Img-14.png" alt="" class="img-fluid img">
            </div>

            <div class="col-lg-9 text-center">

              <p style="color:darkgoldenrod"><strong>We make Social Media Security Simple, Affordable and Accessable to all
               Content Creator, Influencers, Artist, Sport Persons, Individuals, Small and Big Business Owners.
             </strong></p>
              <a href="/register" class=" scrollto btn btn-danger" ><strong>Secure your all Social Media Account in Just One Click!</strong></a>
            </div>

          </div>
        </div>
      </div><!-- End Carousel Item >
    </div>

    <a class="carousel-control-prev" href="#hero" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>
-->
   <!-- <ol class="carousel-indicators"></ol> -->

  </section><!-- End Hero Section -->
  <main id="main">
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services" style="background-color:#F2F4F4 ">
      <div class="container">
        <div class="row gy-4">
          <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="zoom-out">
            <div class="service-item position-relative">
              <!-- <div class="icon"><i class="bi bi-facebook icon color-blue"></i></div> -->
              <h4><a class="stretched-link">How to secure Social Media Account</a></h4>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Enable two-factor authentication.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Use Password Manager to generate and store strong password.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Set up alerts about unauthorized logins.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Remove access for unwanted third-party Apps and Websites.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Never click any suspicious Links.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Do Not sign-in to every devices you use.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Do Not install Apps from unknown sources.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Change your password regularly, especially if you see a message asking you to do so.</p>
            </div>
          </div><!-- End Service Item -->
          <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
            <div class="service-item position-relative">
              <h4><a class="stretched-link">How to secure Mobile Device</a></h4>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Take back-up of your data in a secure external drive. Backing up your data can protect your files from being stolen or corrupted.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Use a strong passcode and Touch ID/Face ID.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Enable App Encryption for all installed apps.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Use VPN in kill switch mode.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Use Firefox browser and change the default search engine to DuckDuckGo.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Use secure Mail and Drive for storing important files.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Turn on location services with caution.</p>
           </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="zoom-out" data-aos-delay="400">
            <div class="service-item position-relative">

              <h4><a class="stretched-link">How to secure Destop/Laptop</a></h4>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Take back-up of your data in a secure external drive. Backing up your data can protect your files from being stolen or corrupted.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Use Full-disk encryption, which makes very difficult for hackers to access any information that is stored on the system.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Use VPN in kill switch mode.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Use Firefox browser and change the default search engine to DuckDuckGo.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Use secure Mail and Drive for storing important files.</p>   
           </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex aos-init aos-animate" data-aos="zoom-out" data-aos-delay="600">
            <div class="service-item position-relative">

              <h4><a class="stretched-link">How to secure Home Router</a></h4>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Change the default login credentials.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Disable remote management. it's best to disable this feature to prevent hackers from accessing your router from the Internet.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Use a strong encryption method. Wireless networks can be secured using encryption methods like WPA2 or WPA3.</p>
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Keep your Router's firmware up to date.</p> 
              <p class="bi bi-check-circle-fill" ;="" style="color:darkcyan"> Regularly check for connected and disconnect unauthorized devices.</p> 
           </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->


    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients"  style="background-color:#F2F4F4 ">
      <div class="container" data-aos="zoom-out">
        
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" style="border-radius:120%; height:80px; width:80px;" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://images.unsplash.com/photo-1557296387-5358ad7997bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=757&q=80" style="border-radius:120%; height:80px; width:80px;" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80" style="border-radius:120%; height:80px; width:80px;" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://images.unsplash.com/photo-1616766098946-e4fabb7d6da0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGZhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60" style="border-radius:120%; height:80px; width:80px;" class="img-fluid" alt="" ></div>
            <div class="swiper-slide"><img src="https://images.unsplash.com/photo-1545996124-0501ebae84d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" style="border-radius:120%; height:80px; width:80px;" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://images.unsplash.com/photo-1545996124-0501ebae84d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" style="border-radius:120%; height:80px; width:80px;" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Call To Action Section ======= -->
    {{!-- <section id="cta" class="cta"  style="background-color:#F2F4F4 ">
      <div class="container" data-aos="zoom-out">

        <div class="row g-5">

          <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
            <h4 style="color:darkgoldenrod"><strong>Why do you need CyberCyld Social Media Protection Plan ? <br></br></strong></h4>

                <p  style="font-size: 15px; color:darkred">There were around 22 billion breached records in year 2021 alone and every 39 seconds, there is a new attack somewhere on the web.</p>

                <p style="font-size: 15px;color:darkred">You should be aware that software is unlikely to protect you from cyber-attacks, given most cyber-attacks have some level of human involvement through phishing campaigns or other methods to obtain people’s login details.</p>
                  
                <p class="bi bi-check-circle"; style="font-size: 15px;color:darkgreen"> We at CyberCyld offer Immediate help from our Cyber security experts on any kind of cyber-attacks for all Social Media accounts like Facebook, Instagram, Snapchat, Twitter, YouTube, LinkedIn etc.</p>
                  
                <p class="bi bi-check-circle"; style="font-size: 15px;color:darkgreen"> We promiss to provide minimum guaranteed money daily until acount not recovered.</p>
             
            <a  class="btn btn-danger align-self-start" href="/register"><strong>Secure your all Social Media Accounts in one Click!</strong></a>
          </div>

          <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
            <div class="img">
              <img src="./../public/Img-4.jpg" alt="" class="img-fluid">
              <!--img src="./../public/Img-4.jpg" alt="Los Angeles" width="100%;" height="800px" class="img-fluid"-->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Call To Action Section --> --}}
     <!-- ======= On Video Secton ======= -->
    <section id="onfocus" class="onfocus">
      <div class="container-fluid p-0" data-aos="fade-up">

        <div class="row g-0">
           {{#each videos}}  
          {{!-- <div class="col-lg-6 video-play position-relative"> --}}
            <iframe  class="col-lg-6 video-play position-relative" src="{{{this.embed_link}}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {{/each}}
          {{!-- </div> --}}
          <div class="col-lg-6">
            <div class="content d-flex flex-column justify-content-center h-100">
              <h3>Why do you need CyberCyld Social Media Protection Plan ? </h3>
              <p class="fst-italic">
               Social media security is a growing concern for businesses and individuals alike. It involves protecting user data, accounts, and networks against malicious actors. With the rise of social media use, it is important to understand the risks associated with it and how to protect yourself from them. Social media security encompasses a wide range of topics including authentication, encryption, privacy settings, phishing scams, malware threats, and more. It is essential for businesses and individuals to stay up-to-date on social media security best practices in order to protect their data and prevent cyberattacks.
              </p>
              <p class="fst-italic">
              We at CyberCyld offer Immediate help from our Cyber security experts on any kind of cyber-attacks for all Social Media accounts like Facebook, Instagram, YouTube, Snapchat, Twitter, LinkedIn etc.
              </p>
               <p class="fst-italic";> <strong>Our social media protection plan will help keep you and your data safe. With CyberCyld, you can rest easy knowing that your personal information is secure. Subscribe now to enjoy the security and peace of mind that comes with CyberCyld!</strong></p>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End On Focus Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features" style="background-color:#F2F4F4 ">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <ul class="nav nav-tabs row gy-4 d-flex" role="tablist">
          
            <li class="nav-item col-6 col-md-4 col-lg-2" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1" aria-selected="false" tabindex="-1" role="tab">
              <i class="bi bi-facebook color-blue"></i>
              <h4>Facebook</h4>
            </a>
          </li><!-- End Tab 1 Nav -->
          <li class="nav-item col-6 col-md-4 col-lg-2" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2" aria-selected="false" tabindex="-1" role="tab">
              <i class="bi bi-instagram color-red"></i>
              <h4>Instagram</h4>
            </a>
          </li><!-- End Tab 2 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3" aria-selected="false" tabindex="-1" role="tab">
              <i class="bi bi-youtube color-red"></i>
              <h4>YouTube</h4>
            </a>
          </li><!-- End Tab 3 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4" aria-selected="false" tabindex="-1" role="tab">
              <i class="bi bi-twitter color-blue"></i>
              <h4>Twitter</h4>
            </a>
          </li><!-- End Tab 4 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2" role="presentation">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-5" aria-selected="true" role="tab">
              <i class="bi bi-snapchat color-yellow"></i>
              <h4>Snapchat</h4>
            </a>
          </li><!-- End Tab 5 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-6" aria-selected="false" tabindex="-1" role="tab">
              <i class="bi bi-linkedin color-blue"></i>
              <h4>LinkedIn</h4>
            </a>
          </li><!-- End Tab 6 Nav -->

        </ul>

        <div class="tab-content">
          <div class="tab-pane" id="tab-1" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>How to Secure your Facebook Account ?</h3>
                <p>
                 Here are a few things you can do to keep your account secure.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle-fill"></i> Don't accept friend requests from people you don't know.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Never click any suspicious Links.</li> 
                  <li><i class="bi bi-check-circle-fill"></i> Use Password Manager to generate and store strong password.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up Two-Factor Authentication.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up alerts about unauthorized logins.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up trusted contacts.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Revoke Access to Third-Party Apps.</li> 
                  <li><i class="bi bi-check-circle-fill"></i> Change your password regularly, especially if you see a message asking you to do so.</li>  
                  <li><i class="bi bi-check-circle-fill"></i> Report to us if your account got hacked or someone is harassing you, threatening you, or making you feel unsafe.</li>
                </ul>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="assets/img/features-3.svg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 1 -->
          
          <div class="tab-pane" id="tab-2" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>How to Secure your Instagram Account ?</h3>
                <p>
                  Here are a few things you can do to keep your account secure.
                  </p>
                 <ul>
                  <li><i class="bi bi-check-circle-fill"></i> Don't accept friend requests from people you don't know.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Never click any suspicious Links.</li> 
                  <li><i class="bi bi-check-circle-fill"></i> Use Password Manager to generate and store strong password.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up Two-Factor Authentication.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Secure Payment Options.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up alerts about unauthorized logins.</li>   
                  <li><i class="bi bi-check-circle-fill"></i> Revoke Access to Third-Party Apps.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Change your password regularly, especially if you see a message asking you to do so.</li>  
                  <li><i class="bi bi-check-circle-fill"></i> Report to us if your account got hacked or someone is harassing you, threatening you, or making you feel unsafe.</li>
                </ul>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="assets/img/features-4.svg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 2 -->


          <div class="tab-pane" id="tab-3" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>How to Secure your YouTube Account and Channel?</h3>
                <p>
                 Here are a few things you can do to keep your account and channel secure.
                </p>               
                 <ul> 
                  <li><i class="bi bi-check-circle-fill"></i> We strongly recommend you use a dedicated Google account for the main YouTube channel.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Never click any suspicious Links.</li> 
                  <li><i class="bi bi-check-circle-fill"></i> Use Password Manager to generate and store strong password.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up Two-Factor Authentication.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Do Not sign-in to every devices you use.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up alerts about unauthorized logins.</li> 
                  <li><i class="bi bi-check-circle-fill"></i> Always be selective about who can be a manager or admin in your YouTube channel.</li>   
                  <li><i class="bi bi-check-circle-fill"></i> Revoke Access to Third-Party Apps.</li> 
                  <li><i class="bi bi-check-circle-fill"></i> Change your password regularly, especially if you see a message asking you to do so.</li>  
                  <li><i class="bi bi-check-circle-fill"></i> Report to us if your account got hacked or someone is harassing you, threatening you, or making you feel unsafe.</li>
                </ul>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="assets/img/features-2.svg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 3 -->

          <div class="tab-pane" id="tab-4" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>How to Secure your Twitter Account?</h3>
                <p>
                 Here are a few things you can do to keep your Twitter account secure.
                </p>
                 <ul>
                  <li><i class="bi bi-check-circle-fill"></i> Never click any suspicious Links.</li> 
                  <li><i class="bi bi-check-circle-fill"></i> Use Password Manager to generate and store strong password.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up Two-Factor Authentication.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up alerts about unauthorized logins.</li>   
                  <li><i class="bi bi-check-circle-fill"></i> Revoke Access to Third-Party Apps.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Change your password regularly, especially if you see a message asking you to do so.</li>  
                  <li><i class="bi bi-check-circle-fill"></i> Report to us if your account got hacked or someone is harassing you, threatening you, or making you feel unsafe.</li>
                </ul>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="assets/img/features-5.svg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 4 -->

          <div class="tab-pane active show" id="tab-5" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <h3>How to Secure Snapchat Account?</h3>
                <p>
                 Here are a few things you can do to keep your Snapchat account secure.
                </p>
                 <ul>
                  <li><i class="bi bi-check-circle-fill"></i> Never click any suspicious Links.</li> 
                  <li><i class="bi bi-check-circle-fill"></i> Use Password Manager to generate and store strong password.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up Two-Factor Authentication.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up alerts about unauthorized logins.</li>   
                  <li><i class="bi bi-check-circle-fill"></i> Revoke Access to Third-Party Apps.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Change your password regularly, especially if you see a message asking you to do so.</li>  
                  <li><i class="bi bi-check-circle-fill"></i> Report to us if your account got hacked or someone is harassing you, threatening you, or making you feel unsafe.</li>
                </ul>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <img src="assets/img/features-1.svg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 5 -->

          <div class="tab-pane" id="tab-6" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>How to secure your LinkedIn Account?</h3>
                <p>
                 Here are a few things you can do to keep your LinkedIn account secure.
                </p>
                 <ul>
                  <li><i class="bi bi-check-circle-fill"></i> Never click any suspicious Links.</li> 
                  <li><i class="bi bi-check-circle-fill"></i> Use Password Manager to generate and store strong password.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up Two-Factor Authentication.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Set up alerts about unauthorized logins.</li>   
                  <li><i class="bi bi-check-circle-fill"></i> Revoke Access to Third-Party Apps.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Change your password regularly, especially if you see a message asking you to do so.</li>  
                  <li><i class="bi bi-check-circle-fill"></i> Report to us if your account got hacked or someone is harassing you, threatening you, or making you feel unsafe.</li>
                </ul>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="assets/img/features-6.svg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 6 -->

        </div>

      </div>
    </section><!-- End Features Section -->


   <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h4><p style="color:Black;"><b>Choose Cyber Protection Plan That Fits Your Needs</b></p></h4>
          <h6><p style="color:Black;"><b>Get our FREE Personal Protection Plan, only for Girl Students. </b></p></h4>
          <h6><p style="color:Black;"><b>Save more and get a 60 day money-back guarantee with our annual plans.</b></p></h4>
        </div>
        
        <div class="row gy-4">
           {{#each plans}}
          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="pricing-item featured">
              <div class="pricing-header">
                <h3>{{this.name}}</h3>
               <h5><sup>INR</sup><b style="font-weight:bold; font-size:30px; color:white;">{{this.price}}</b><sup>per/month    **Billed Yearly </sup></h5>
              </div>
              <ul>
                      <li><span style="color:darkred;"><b>Cyber Expert Support:</b></span></li>
                        <li><i class="bi bi-check" style="color:darkgreen;"></i><span style="color:black;">{{this.itemone}}</li>
                <li><span style="color:darkred;"><b>Online Safety and Security:</b></span></li>
                        <li><i class="bi bi-check"style="color:darkgreen;"></i><span style="color:black;">{{this.itemtwo}}</li>
                        <li><i class="bi bi-check" style="color:darkgreen;"></i><span style="color:black;">{{this.itemthree}}</li>
                        <li><i class="bi bi-check" style="color:darkgreen;"></i><span style="color:black;">{{this.itemfour}}</li>
                                      <li><span style="color:darkred;"><b>Account Monitoring and Notification:</b></span></li>
                        <li><i class="bi bi-check" style="color:darkgreen;"></i><span style="color:black;">{{this.itemfive}}</li>
                        <li><i class="bi bi-check"style="color:darkgreen;"></i><span style="color:black;">{{this.itemsix}}</li>
                        <li><i class="bi bi-check" style="color:darkgreen;"></i><span style="color:black;">{{this.itemseven}}</li>
                        <li><span style="color:darkred;"><b>Cyber Fraud Protection:</b></span></li>
                        <li><i class="bi bi-check"style="color:darkgreen;"></i><span style="color:black;">{{this.itemeight}}</b></li>
                        <li><i class="bi bi-check" style="color:darkgreen;"></i><span style="color:black;">{{this.itemnine}}</li>
                        <li><i class="bi bi-check" style="color:darkgreen;"></i><span style="color:black;">{{this.itemten}}</li>
                        <li><i class="bi bi-check" style="color:darkgreen;"></i><span style="color:black;">{{this.itemeleven}}</li>
                        <li><i class="bi bi-check" style="color:darkgreen;"></i><span style="color:black;">{{this.itemtwelve}}</li>
                        <li><i class="bi bi-check" style="color:darkgreen;"></i><span style="color:black;">{{this.itemthirteen}}</li>
                        <li><i class="bi bi-check" style="color:darkgreen;"></i><span style="color:black;">{{this.itemfourteen}}</li>
              </ul>

              <div class="text-center mt-auto">
                <a href="/subscriptions/{{id}}" class="buy-btn">Get Protection Now</a>
              </div>
            </div>
            
          </div>
           {{/each}}
          
          <!-- End Pricing Item -->

{{!-- 
          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="600">
            <div class="pricing-item">

              <div class="pricing-header">
                <h3>Business Protection Plan</h3>
                <h4><sup>INR</sup>2400<span>Rs / Year</span></h4>
              </div>

              <ul>
                <li><i class="bi bi-check-circle"></i><b>Cyber security audit for all social media accounts.</b></li>
                <li><i class="bi bi-check-circle"></i><b>Cyber security protection for all Social Media accounts like Facebook, Instagram, Snapchat, Twitter, YouTube, LinkedIn
etc. </b></li>
                <li><i class="bi bi-check-circle"></i><b>Get Immediate help from our Cyber security experts.</b></li>
                <li><i class="bi bi-check-circle"></i><b>Get minimum guaranteed money daily until acount not recovered.</b></li>
                <li><span style="color:darkred;">**add-on Features:</span></li>
                <li><input type="checkbox"/> &nbsp;&nbsp;<b>Blackmail Protection.</b></li>
                <li><input type="checkbox"/> &nbsp;&nbsp;<b>Remove images and videos from social media platforms.</b></li>
              </ul>

              <div class="text-center mt-auto">
                <a href="/register" class="buy-btn">Buy Now</a>
              </div>

            </div>
          </div><!-- End Pricing Item -->
          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
  <div class="pricing-item featured">
    <div class="pricing-header">
      <h3>Advanced Protection Plan</h3>
      <h4><sup>INR</sup>3600<span>Rs / Year</span></h4>
    </div>
    <ul>
      <li><i class="bi bi-check-circle"></i><b>Cyber security audit for all social media accounts.</b></li>
    <li><i class="bi bi-check-circle"></i><b>Cyber security protection for all Social Media accounts like Facebook, Instagram, Snapchat, Twitter, YouTube, LinkedIn
    etc. </b></li>
      <li><i class="bi bi-check-circle"></i><b>Get Immediate help from our Cyber security experts.</b></li>
      <li><span style="color:darkred;">**add-on Features:</span></li>
      <li><input type="checkbox"/> &nbsp;&nbsp;<b>Blackmail Protection.</b></li>
      <li><input type="checkbox"/> &nbsp;&nbsp;<b>Remove images and videos from social media platforms.</b></li>
    </ul>
    <div class="text-center mt-auto">
      <a href="/register" class="buy-btn">Buy Now</a>
      
    </div>
  </div>
</div><!-- End Pricing Item --> --}}

        </div>

      </div>
    </section><!-- End Pricing Section -->
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h4>CyberCyld- by AppTwig Pvt. Ltd. </h4>
              <p>
                D-322, ITTINA ABHA, Banglore-560037<br><br>
                <strong>Email:</strong> alert@cybercyld.com<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/terms-of-use">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/policy">Privacy policy</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/careers">Careers</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/contacts">Contact us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> Instagram Security</li>
              <li><i class="bi bi-chevron-right"></i> Facebook Security</li>
              <li><i class="bi bi-chevron-right"></i> YouTube Security</li>
              <li><i class="bi bi-chevron-right"></i> Twitter Security</li>
              <li><i class="bi bi-chevron-right"></i> Linkdin Security</li>
              <li><i class="bi bi-chevron-right"></i> Snapchat Security</li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            © Copyright <strong><span>Apptwig Pvt. Ltd. </span></strong> All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Designed by <a href="https://cybercyld.com/">CyberCyld</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="https://twitter.com/home" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100088078479457" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/cybercyld/" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCI4-0jfOVGoMfY9Ub18NcBA" class="YouTube"><i class="bi bi-youtube"></i></a>
          <a href="https://www.linkedin.com/in/cyber-cyld-4b68b0257/" class="LinkedIn"><i class="bi bi-linkedin"></i></a>
        </div>


      </div>
    </div>

  </footer>
  <!--Start of Tawk.to Script-->
  <script>
    var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?81060';
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = url;
    var options = {
  "enabled":true,
  "chatButtonSetting":{
      "backgroundColor":"#4dc247",
      "ctaText":"Message Us",
      "borderRadius":"25",
      "marginLeft":"0",
      "marginBottom":"50",
      "marginRight":"50",
      "position":"right"
  },
  "brandSetting":{
      "brandName":"CyberCyld",
      "brandSubTitle":"We offer immediate help from our Cyber security experts ",
      "brandImg":"https://cybercyld.com/public/logo2.png",
      "welcomeText":"Hi there!\nHow can we help you?",
      "messageText":"Hello, I have a question about social Media Account",
      "backgroundColor":"#0a5f54",
      "ctaText":"Start Chat",
      "borderRadius":"25",
      "autoShow":false,
      "phoneNumber":"+917393929207"
  }
};
    s.onload = function() {
        CreateWhatsappChatWidget(options);
    };
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
</script>
<!--End of Tawk.to Script-->
  
  <!-- End Footer -->

  <!--
  <script type="text/javascript">
		function googleTranslateElementInit() {
			new google.translate.TranslateElement(
				{pageLanguage: 'en'},
				'google_translate_element'
			);
		}
	</script>

	<script type="text/javascript"
			src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
	</script>
-->
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="./../public/assetss/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./../public/assetss/vendor/aos/aos.js"></script>
  <script src="./../public/assetss/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./../public/assetss/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./../public/assetss/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./../public/assetss/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="./../public/assetss/js/main.js"></script>
<script src="//code.tidio.co/ccn0ykidaz9jq0lfzbkfiv7pzvliefnk.js" async></script>
</body>

</html>